---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About Daniel Suchý"
	pubDate={new Date('July 10 2026')}
	heroImage={AboutHeroImage}
>
	<p>More here soon.</p>
</Layout>
